<div class="container mt-4">
  <h2>Add Employee</h2>

  <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
    <!-- Employee ID -->
    <div class="mb-3">
      <label class="form-label">Employee ID</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee.EmployeeID"
        name="EmployeeID"
        
        disabled
      />
    </div>

    <!-- Account -->
    <div class="mb-3">
      <label class="form-label">Account</label>
      <select
        class="form-select"
        [(ngModel)]="employee.accountId"
        name="accountId"
        required
      >
        <option value="" disabled selected>Select account</option>
        <option *ngFor="let acc of accounts" [ngValue]="acc.id">
          {{ acc.firstName }} {{ acc.lastName }} ({{ acc.email }})
        </option>
      </select>
    </div>

    <!-- Position -->
    <div class="mb-3">
      <label class="form-label">Position</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="employee.position"
        name="position"
        required
      />
    </div>

    <!-- Department -->
    <div class="mb-3">
      <label class="form-label">Department</label>
      <select
        class="form-select"
        [(ngModel)]="employee.departmentId"
        name="departmentId"
        required
      >
        <option value="" disabled selected>Select department</option>
        <option *ngFor="let dept of departments" [ngValue]="dept.id">
          {{ dept.name }}
        </option>
      </select>
    </div>

    <!-- Hire Date -->
    <div class="mb-3">
      <label class="form-label">Hire Date</label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="employee.hireDate"
        name="hireDate"
        required
      />
    </div>

    <!-- Status -->
    <div class="mb-3">
      <label class="form-label">Status</label>
      <select
        class="form-select"
        [(ngModel)]="employee.status"
        name="status"
        required
      >
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>

    <!-- Error -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Buttons -->
     <div class="text-center">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loading || !employeeForm.form.valid"
    >
      {{ loading ? 'Saving...' : 'Save' }}
    </button>
    <button type="button" class="btn btn-secondary ms-2" (click)="cancel()">
      Cancel
    </button>
    </div>
  </form>
</div>
