<div class="app-container" [ngClass]="{ 'bg-light': account }">
  <!-- Main Navigation -->
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-success fixed-top px-3"
    *ngIf="account"
  >
    <div class="container-fluid">
      <!-- Left nav -->
      <div class="navbar-nav">
        <a
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item nav-link"
        >
          Home
        </a>
        <a
          routerLink="/profile"
          routerLinkActive="active"
          class="nav-item nav-link"
        >
          Profile
        </a>
      </div>

      <!-- Right nav -->
      <div class="navbar-nav ms-auto">
        <!-- Admin-only -->
        <a
          *ngIf="account.role === Role.Admin"
          routerLink="/admin/accounts"
          routerLinkActive="active"
          class="nav-item nav-link"
        >
          Accounts
        </a>

        <!-- Shared links -->
        <a
          routerLink="/employees"
          routerLinkActive="active"
          class="nav-item nav-link"
        >
          Employees
        </a>
        <a
          routerLink="/departments"
          routerLinkActive="active"
          class="nav-item nav-link"
        >
          Departments
        </a>
        <a
          routerLink="/requests"
          routerLinkActive="active"
          class="nav-item nav-link"
        >
          Requests
        </a>

        <!-- Logout -->
        <button (click)="logout()" class="btn btn-link nav-item nav-link">
          Logout
        </button>
      </div>
    </div>
  </nav>

  <div class="container-fluid" style="padding-top: 70px;">
    <router-outlet name="subnav"></router-outlet>

    <alert></alert>

    <router-outlet></router-outlet>
  </div>
</div>
